# Exploratory Data Analysis
Understanding the dataset to explore how the data is present in the database and if there is a need of creating any aggregated tables that can help with:
-Vendor  selection for profitability
-Product pricing  optimization

In [3]:
import pandas as pd
import sqlite3

In [4]:
#Creating database connection
conn = sqlite3.connect('inventory.db')

tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type ='table'",conn)
print(tables) #checking tables present in database

                   name
0        vendor_invoice
1  vendor_sales_summary
2       begin_inventory
3         end_inventory
4             purchases
5       purchase_prices
6                 sales

In [5]:
pd.read_sql("select count(*) from purchases",conn)

   count(*)
0   2372474

In [6]:
for table in tables['name']:  # Access the 'name' column from the DataFrame or dict
    print("-"*40, f'{table}', '-'*40)
    df = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}", conn)  
    #Use 'table' in the query
    print("Count of records:", df['count'].values[0])
    display(pd.read_sql(f"select * from {table} limit 5",conn))

---------------------------------------- vendor_invoice ----------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

---------------------------------------- vendor_sales_summary ----------------------------------------
Count of records: 10692

,VendorNumber,VendorName,Brand,Description,Actual_price,PurchasePrice,Volume,Total_purchaseQuantity,Total_purchaseDollars,Totalsales_quantity,Totalsales_price,Totalsales_Dollars,Total_Excisetax,Total_Freightcost,GrossProfit,Profitmargin,StockTurnover,SalesPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,36.99,26.27,1750.0,145080,3811251.60,142049.0,672819.31,5101919.51,260999.20,68601.68,1290667.91,33.864673,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,28.99,23.19,1750.0,164038,3804041.22,160247.0,561512.37,4819073.49,294438.66,144929.24,1015032.27,26.682999,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,24.99,18.24,1750.0,187407,3418303.68,187140.0,461140.15,4538120.60,343854.07,123780.22,1119816.92,32.759433,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,22.99,16.17,1750.0,201682,3261197.94,200412.0,420050.01,4475972.88,368242.80,257032.07,1214774.94,37.249347,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,29.99,21.89,1750.0,138109,3023206.01,135838.0,545778.28,4223107.62,249587.83,257032.07,1199901.61,39.689707,0.983556,1.396897

---------------------------------------- begin_inventory ----------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

---------------------------------------- end_inventory ----------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

---------------------------------------- purchases ----------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

---------------------------------------- purchase_prices ----------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

---------------------------------------- sales ----------------------------------------
Count of records: 0

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, Classification, ExciseTax, VendorNo, VendorName]
Index: []

In [7]:
purchases = pd.read_sql_query("select* from purchases WHERE VendorNumber = 4466",conn)
print(purchases)

              InventoryId  Store  Brand                   Description   Size  \
0        30_CULCHETH_5255     30   5255  TGI Fridays Ultimte Mudslide  1.75L
1       34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
2     1_HARDERSFIELD_5255      1   5255  TGI Fridays Ultimte Mudslide  1.75L
3       38_GOULCREST_5215     38   5215  TGI Fridays Long Island Iced  1.75L
4     59_CLAETHORPES_5215     59   5215  TGI Fridays Long Island Iced  1.75L
...                   ...    ...    ...                           ...    ...
2187     81_PEMBROKE_5215     81   5215  TGI Fridays Long Island Iced  1.75L
2188   62_KILMARNOCK_5255     62   5255  TGI Fridays Ultimte Mudslide  1.75L
2189    34_PITMERDEN_5215     34   5215  TGI Fridays Long Island Iced  1.75L
2190     6_GOULCREST_5215      6   5215  TGI Fridays Long Island Iced  1.75L
2191    35_HALIVAARA_5255     35   5255  TGI Fridays Ultimte Mudslide  1.75L

      VendorNumber                   VendorName  PONumber      PODate  \
0             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
1             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
2             4466  AMERICAN VINTAGE BEVERAGE        8137  2023-12-22
3             4466  AMERICAN VINTAGE BEVERAGE        8207  2023-12-27
4             4466  AMERICAN VINTAGE BEVERAGE        8207  2023-12-27
...            ...                          ...       ...         ...
2187          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2188          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2189          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2190          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20
2191          4466  AMERICAN VINTAGE BEVERAGE       13595  2024-12-20

     ReceivingDate InvoiceDate     PayDate  PurchasePrice  Quantity  Dollars  \
0       2024-01-01  2024-01-07  2024-02-21           9.35         4    37.40
1       2024-01-02  2024-01-07  2024-02-21           9.41         5    47.05
2       2024-01-01  2024-01-07  2024-02-21           9.35         6    56.10
3       2024-01-07  2024-01-19  2024-02-26           9.41         6    56.46
4       2024-01-05  2024-01-19  2024-02-26           9.41         6    56.46
...            ...         ...         ...            ...       ...      ...
2187    2024-12-29  2025-01-04  2025-02-10           9.41         6    56.46
2188    2024-12-28  2025-01-04  2025-02-10           9.35         5    46.75
2189    2024-12-28  2025-01-04  2025-02-10           9.41         5    47.05
2190    2024-12-31  2025-01-04  2025-02-10           9.41         6    56.46
2191    2024-12-27  2025-01-04  2025-02-10           9.35         5    46.75

      Classification
0                  1
1                  1
2                  1
3                  1
4                  1
...              ...
2187               1
2188               1
2189               1
2190               1
2191               1

[2192 rows x 16 columns]

In [8]:
purchase_price = pd.read_sql_query("select* from purchase_prices WHERE VendorNumber = 4466",conn)
print(purchase_price)

   Brand                   Description  Price    Size Volume  Classification  \
0   5215  TGI Fridays Long Island Iced  12.99  1750mL   1750               1
1   5255  TGI Fridays Ultimte Mudslide  12.99  1750mL   1750               1
2   3140      TGI Fridays Orange Dream  14.99  1750mL   1750               1

   PurchasePrice  VendorNumber                   VendorName
0           9.41          4466  AMERICAN VINTAGE BEVERAGE
1           9.35          4466  AMERICAN VINTAGE BEVERAGE
2          11.19          4466  AMERICAN VINTAGE BEVERAGE

In [9]:
vendor_invoice = pd.read_sql_query("select* from vendor_invoice WHERE VendorNumber = 4466",conn)
print(vendor_invoice)

    VendorNumber                   VendorName InvoiceDate  PONumber  \
0           4466  AMERICAN VINTAGE BEVERAGE    2024-01-07      8137
1           4466  AMERICAN VINTAGE BEVERAGE    2024-01-19      8207
2           4466  AMERICAN VINTAGE BEVERAGE    2024-01-18      8307
3           4466  AMERICAN VINTAGE BEVERAGE    2024-01-27      8469
4           4466  AMERICAN VINTAGE BEVERAGE    2024-02-04      8532
5           4466  AMERICAN VINTAGE BEVERAGE    2024-02-09      8604
6           4466  AMERICAN VINTAGE BEVERAGE    2024-02-17      8793
7           4466  AMERICAN VINTAGE BEVERAGE    2024-03-01      8892
8           4466  AMERICAN VINTAGE BEVERAGE    2024-03-07      8995
9           4466  AMERICAN VINTAGE BEVERAGE    2024-03-12      9033
10          4466  AMERICAN VINTAGE BEVERAGE    2024-03-16      9180
11          4466  AMERICAN VINTAGE BEVERAGE    2024-03-23      9244
12          4466  AMERICAN VINTAGE BEVERAGE    2024-03-31      9371
13          4466  AMERICAN VINTAGE BEVERAGE    2024-04-09      9491
14          4466  AMERICAN VINTAGE BEVERAGE    2024-04-17      9583
15          4466  AMERICAN VINTAGE BEVERAGE    2024-04-20      9639
16          4466  AMERICAN VINTAGE BEVERAGE    2024-04-29      9800
17          4466  AMERICAN VINTAGE BEVERAGE    2024-05-09      9886
18          4466  AMERICAN VINTAGE BEVERAGE    2024-05-14      9999
19          4466  AMERICAN VINTAGE BEVERAGE    2024-05-16     10095
20          4466  AMERICAN VINTAGE BEVERAGE    2024-05-28     10169
21          4466  AMERICAN VINTAGE BEVERAGE    2024-06-04     10257
22          4466  AMERICAN VINTAGE BEVERAGE    2024-06-12     10346
23          4466  AMERICAN VINTAGE BEVERAGE    2024-06-17     10445
24          4466  AMERICAN VINTAGE BEVERAGE    2024-06-22     10600
25          4466  AMERICAN VINTAGE BEVERAGE    2024-06-29     10695
26          4466  AMERICAN VINTAGE BEVERAGE    2024-07-09     10777
27          4466  AMERICAN VINTAGE BEVERAGE    2024-07-08     10836
28          4466  AMERICAN VINTAGE BEVERAGE    2024-07-11     10969
29          4466  AMERICAN VINTAGE BEVERAGE    2024-07-19     11085
30          4466  AMERICAN VINTAGE BEVERAGE    2024-07-26     11187
31          4466  AMERICAN VINTAGE BEVERAGE    2024-08-03     11244
32          4466  AMERICAN VINTAGE BEVERAGE    2024-08-11     11362
33          4466  AMERICAN VINTAGE BEVERAGE    2024-08-18     11489
34          4466  AMERICAN VINTAGE BEVERAGE    2024-08-24     11540
35          4466  AMERICAN VINTAGE BEVERAGE    2024-09-02     11716
36          4466  AMERICAN VINTAGE BEVERAGE    2024-09-12     11771
37          4466  AMERICAN VINTAGE BEVERAGE    2024-09-20     11901
38          4466  AMERICAN VINTAGE BEVERAGE    2024-09-25     11993
39          4466  AMERICAN VINTAGE BEVERAGE    2024-10-01     12125
40          4466  AMERICAN VINTAGE BEVERAGE    2024-10-08     12235
41          4466  AMERICAN VINTAGE BEVERAGE    2024-10-09     12253
42          4466  AMERICAN VINTAGE BEVERAGE    2024-10-12     12321
43          4466  AMERICAN VINTAGE BEVERAGE    2024-10-20     12466
44          4466  AMERICAN VINTAGE BEVERAGE    2024-10-27     12515
45          4466  AMERICAN VINTAGE BEVERAGE    2024-11-07     12702
46          4466  AMERICAN VINTAGE BEVERAGE    2024-11-12     12752
47          4466  AMERICAN VINTAGE BEVERAGE    2024-11-20     12828
48          4466  AMERICAN VINTAGE BEVERAGE    2024-11-27     12929
49          4466  AMERICAN VINTAGE BEVERAGE    2024-11-28     13092
50          4466  AMERICAN VINTAGE BEVERAGE    2024-12-06     13134
51          4466  AMERICAN VINTAGE BEVERAGE    2024-12-16     13254
52          4466  AMERICAN VINTAGE BEVERAGE    2024-12-26     13432
53          4466  AMERICAN VINTAGE BEVERAGE    2024-12-30     13483
54          4466  AMERICAN VINTAGE BEVERAGE    2025-01-09     13627

        PODate     PayDate  Quantity   Dollars  Freight Approval
0   2023-12-22  2024-02-21        15    140.55     8.57     None
1   2023-12-27  2024-02-26       335   3142.33    16.97     None
2   2024-01-03  2024-02-18        41    383.35     1.99     None
3   2024-01-14  2024-03-11        72    673.20     3.30     None
4   2024-01-19  2024-03-15        79    740.21     3.48     None
5   2024-01-24  2024-03-15       347   3261.37    17.61     None
6   2024-02-05  2024-04-02        72    675.36     3.17     None
7   2024-02-12  2024-03-28       117   1096.05     5.15     None
8   2024-02-19  2024-04-02       129   1209.27     5.44     None
9   2024-02-22  2024-04-16       147   1377.87     6.61     None
10  2024-03-03  2024-04-19       211   1979.33     9.50     None
11  2024-03-08  2024-04-21       161   1510.69     6.95     None
12  2024-03-17  2024-05-13       176   1649.20     8.91     None
13  2024-03-24  2024-05-08       215   2016.43    10.08     None
14  2024-03-31  2024-05-12       110   1035.10     5.69     None
15  2024-04-04  2024-06-04       515   5323.01    25.02     None
16  2024-04-15  2024-06-07       275   2775.01    13.60     None
17  2024-04-21  2024-06-12       312   3050.86    13.73     None
18  2024-04-29  2024-06-26       310   3117.82    14.97     None
19  2024-05-06  2024-06-27       215   2123.01    11.46     None
20  2024-05-11  2024-07-04       327   3298.55    15.83     None
21  2024-05-17  2024-07-08       376   3708.18    20.39     None
22  2024-05-23  2024-07-20       640   6458.38    29.71     None
23  2024-05-30  2024-07-19       288   2937.56    15.86     None
24  2024-06-09  2024-08-01       308   3213.28    17.03     None
25  2024-06-16  2024-08-12       143   1585.75     8.09     None
26  2024-06-22  2024-08-15        18    179.88     0.99     None
27  2024-06-25  2024-08-14         8     85.96     0.43     None
28  2024-06-29  2024-08-18        94    993.12     5.06     None
29  2024-07-06  2024-09-04       601   5883.09    31.18     None
30  2024-07-14  2024-08-26      1535  15406.69    77.03     None
31  2024-07-18  2024-09-04       266   2888.22    15.31     None
32  2024-07-26  2024-09-24       206   2171.64    11.08     None
33  2024-08-04  2024-09-16       768   7292.98    37.92     None
34  2024-08-08  2024-10-02      1207  12242.43    64.88     None
35  2024-08-19  2024-09-29       433   4334.43    20.37     None
36  2024-08-23  2024-10-11       370   3640.18    18.20     None
37  2024-09-01  2024-10-30       358   3626.74    16.32     None
38  2024-09-07  2024-10-23       233   2264.85    12.23     None
39  2024-09-16  2024-11-07       284   2813.46    15.47     None
40  2024-09-23  2024-11-20       258   2592.08    11.92     None
41  2024-09-23  2024-11-14         1     11.19     0.05     None
42  2024-09-26  2024-11-19       172   1685.98     7.59     None
43  2024-10-05  2024-11-26       280   2798.60    14.55     None
44  2024-10-09  2024-11-30       178   1763.28     8.64     None
45  2024-10-21  2024-12-11       183   1812.77     8.70     None
46  2024-10-25  2024-12-11       216   2156.16    10.57     None
47  2024-10-30  2024-12-18       262   2597.36    12.99     None
48  2024-11-06  2025-01-04       270   2622.32    12.85     None
49  2024-11-16  2024-12-30       209   2036.17    11.20     None
50  2024-11-20  2025-01-18       305   3018.89    15.70     None
51  2024-11-28  2025-01-13       262   2530.36    11.39     None
52  2024-12-09  2025-01-27       231   2263.43    11.32     None
53  2024-12-13  2025-02-11       221   2178.27    11.33     None
54  2024-12-22  2025-02-05       413   3985.03    19.53     None

In [10]:
sales = pd.read_sql_query("select* from sales WHERE VendorNo = 4466",conn)
print(sales)

Empty DataFrame
Columns: [InventoryId, Store, Brand, Description, Size, SalesQuantity, SalesDollars, SalesPrice, SalesDate, Volume, Classification, ExciseTax, VendorNo, VendorName]
Index: []

In [11]:
group_total=purchases.groupby(['Brand','PurchasePrice'])[['Quantity','Dollars']].sum()
#it groups data by brand and purchase price
print(group_total)

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [12]:
group_price=purchase_price.groupby(['Brand','PurchasePrice']).sum()
print(group_price)

                                      Description  Price    Size Volume  \
Brand PurchasePrice
3140  11.19              TGI Fridays Orange Dream  14.99  1750mL   1750
5215  9.41           TGI Fridays Long Island Iced  12.99  1750mL   1750
5255  9.35           TGI Fridays Ultimte Mudslide  12.99  1750mL   1750

                     Classification  VendorNumber                   VendorName
Brand PurchasePrice
3140  11.19                       1          4466  AMERICAN VINTAGE BEVERAGE
5215  9.41                        1          4466  AMERICAN VINTAGE BEVERAGE
5255  9.35                        1          4466  AMERICAN VINTAGE BEVERAGE

In [13]:
unique=vendor_invoice['PONumber'].nunique() # checks how many unique number present in this
print(unique)

55

In [14]:
group_sales=sales.groupby('Brand')[['SalesQuantity','SalesDollars','SalesPrice']].sum()
print(group_sales)

Empty DataFrame
Columns: [SalesQuantity, SalesDollars, SalesPrice]
Index: []

As the data we need for analysis is distributed in different tables,we need to create a summary table containing:
- purchase transaction made by vendors
- sales transaction data
- freight costs for each  vendor
- Actual product prices from vendors

In [15]:
freight_summary = pd.read_sql_query("""select VendorNumber,
                             sum(freight)as freightCost from Vendor_invoice
                             group by VendorNumber""",conn)
#here triple quote will be take as multiline string
#group by vendor_name from vendor_invoice table and frieght as frieght_cost
print(freight_summary)

     VendorNumber  freightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

In [16]:
purchase_summary = pd.read_sql_query('''
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.PurchasePrice,
        pp.Volume,
        pp.Price AS Actual_price,
        SUM(p.Quantity) AS Total_Purchase_quantity,
        SUM(p.Dollars) AS Total_purchase_dollars
    FROM Purchases AS p
    JOIN purchase_prices AS pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, pp.Volume, pp.Price
    ORDER BY Total_purchase_dollars
''', conn)

print(purchase_summary)

       VendorNumber                   VendorName  Brand  PurchasePrice Volume  \
0              7245  PROXIMO SPIRITS INC.          3065           0.71     50
1              3960  DIAGEO NORTH AMERICA INC      6127           1.47    200
2              3924  HEAVEN HILL DISTILLERIES      9123           0.74     50
3              8004  SAZERAC CO INC                5683           0.39     50
4              9815  WINE GROUP INC                8527           1.32    750
...             ...                          ...    ...            ...    ...
10687          3960  DIAGEO NORTH AMERICA INC      3545          21.89   1750
10688          3960  DIAGEO NORTH AMERICA INC      4261          16.17   1750
10689         17035  PERNOD RICARD USA             8068          18.24   1750
10690          4425        MARTIGNETTI COMPANIES   3405          23.19   1750
10691          1128  BROWN-FORMAN CORP             1233          26.27   1750

       Actual_price  Total_Purchase_quantity  Total_purchase_dollars
0              0.99                        1                    0.71
1              1.99                        1                    1.47
2              0.99                        2                    1.48
3              0.49                        6                    2.34
4              4.99                        2                    2.64
...             ...                      ...                     ...
10687         29.99                   138109              3023206.01
10688         22.99                   201682              3261197.94
10689         24.99                   187407              3418303.68
10690         28.99                   164038              3804041.22
10691         36.99                   145080              3811251.60

[10692 rows x 8 columns]

In [17]:
sales_summary = pd.read_sql_query('''SELECT
                                  VendorNo,
                                  Brand,
                                  sum(SalesDollars)as Totalsales_Dollars,
                                  sum(SalesPrice) as Totalsales_price,
                                  sum(SalesQuantity) as Totalsales_quantity,
                                  sum(ExciseTax) as Total_Excisetax
                                  FROM sales
                                  group by VendorNo, Brand
                                  order by Totalsales_Dollars
                                  ''',conn)
print(sales_summary)

Empty DataFrame
Columns: [VendorNo, Brand, Totalsales_Dollars, Totalsales_price, Totalsales_quantity, Total_Excisetax]
Index: []

In [ ]:
vendor_sales_summary = pd.read_sql_query('''
    WITH freight_summary AS (
        SELECT 
            VendorNumber,
            SUM(freight) AS Total_Freightcost
        FROM Vendor_invoice
        GROUP BY VendorNumber
    ),
    purchase_summary AS (
        SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Volume,
            pp.Price AS Actual_price,
            SUM(p.Quantity) AS Total_purchaseQuantity,
            SUM(p.Dollars) AS Total_purchaseDollars
        FROM Purchases AS p
        JOIN purchase_prices AS pp
            ON p.Brand = pp.Brand
        WHERE p.PurchasePrice > 0
        GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, pp.Volume, pp.Price
    ),
    sales_summary AS (
        SELECT
            VendorNo,
            Brand,
            SUM(SalesDollars) AS Totalsales_Dollars,
            SUM(SalesPrice) AS Totalsales_price,
            SUM(SalesQuantity) AS Totalsales_quantity,
            SUM(ExciseTax) AS Total_Excisetax
        FROM sales
        GROUP BY VendorNo, Brand
    )
    SELECT
        ps.VendorNumber,
        ps.VendorName,
        ps.Brand,
        ps.Description,
        ps.Actual_price,
        ps.PurchasePrice,
        ps.Volume,
        ps.Total_purchaseQuantity,
        ps.Total_purchaseDollars,
        ss.Totalsales_quantity,
        ss.Totalsales_price,
        ss.Totalsales_Dollars,
        ss.Total_Excisetax,
        fs.Total_Freightcost
    FROM purchase_summary AS ps
    LEFT JOIN sales_summary AS ss
        ON ps.VendorNumber = ss.VendorNo
        AND ps.Brand = ss.Brand
    LEFT JOIN freight_summary AS fs
        ON ps.VendorNumber = fs.VendorNumber
    ORDER BY ps.Total_purchaseDollars DESC
''', conn)

print(vendor_sales_summary)

This query generates a vendor-wise sales and purchase summary which is valuable for:

# Performance optimization:
- The query involves heavy joins and aggregation on large datasets like sales and purchases
- Storing the pre-aggregated results avoids repeated expensive computations
- Helps in analyzing sales,purchases and pricing for different vendors and brands
- Future benefits for storing this data for fast dashboarding and reporting
- Instead of running expensive queries each time , dashboards can fetch data quickly from vendor_sales_summary

In [27]:
vendor_sales_summary.dtypes #check datatype

VendorNumber                int64
VendorName                 object
Brand                       int64
Description                object
Actual_price              float64
PurchasePrice             float64
Volume                    float64
Total_purchaseQuantity      int64
Total_purchaseDollars     float64
Totalsales_quantity       float64
Totalsales_price          float64
Totalsales_Dollars        float64
Total_Excisetax           float64
Total_Freightcost         float64
dtype: object

In [26]:
vendor_sales_summary.isnull().sum()  #Check for missing value

VendorNumber              0
VendorName                0
Brand                     0
Description               0
Actual_price              0
PurchasePrice             0
Volume                    0
Total_purchaseQuantity    0
Total_purchaseDollars     0
Totalsales_quantity       0
Totalsales_price          0
Totalsales_Dollars        0
Total_Excisetax           0
Total_Freightcost         0
dtype: int64

In [23]:
vendor_sales_summary['VendorName'].str.strip() #Remove the whitespace

0               BROWN-FORMAN CORP
1           MARTIGNETTI COMPANIES
2               PERNOD RICARD USA
3        DIAGEO NORTH AMERICA INC
4        DIAGEO NORTH AMERICA INC
                   ...
10687              WINE GROUP INC
10688              SAZERAC CO INC
10689    HEAVEN HILL DISTILLERIES
10690    DIAGEO NORTH AMERICA INC
10691        PROXIMO SPIRITS INC.
Name: VendorName, Length: 10692, dtype: object

In [24]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64') #change datatype

In [25]:
vendor_sales_summary.fillna(0, inplace=True)

In [28]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['Totalsales_Dollars']-vendor_sales_summary['Total_purchaseDollars']
vendor_sales_summary['Profitmargin']=(vendor_sales_summary['GrossProfit']/vendor_sales_summary['Total_purchaseDollars'])*100
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['Totalsales_quantity']/vendor_sales_summary['Total_purchaseQuantity']
vendor_sales_summary['SalesPurchaseRatio'] =vendor_sales_summary['Totalsales_Dollars']/vendor_sales_summary['Total_purchaseDollars']

In [41]:
cursor = conn.cursor()
cursor.execute("""CREATE TABLE vendor_sales_summary(
               
        VendorNumber INT,
        VendorName VARCHAR(100),
        Brand INT,
        Description VARCHAR(100),
        Actual_price DECIMAL(10,2),
        PurchasePrice DECIMAL(10,2),
        Volume,
        Total_purchaseQuantity INT,
        Total_purchaseDollars DECIMAL(15,2),
        Totalsales_quantity INT,
        Totalsales_price DECIMAL(15,2),
        Totalsales_Dollars DECIMAL(15,2),
        Total_Excisetax DECIMAL(15,2),
        Total_Freightcost DECIMAL(15,2),
        GrossProfit DECIMAL(15,2),
        Profitmargin DECIMAL(15,2),
        StockTurnover DECIMAL(15,2),
        SalesPurchaseRatio DECIMAL(15,2),
        PRIMARY KEY(VendorNumber,Brand)                   
);""") # This will create a table that stores summarized data of sales

In [42]:
vendor_sales_summary.columns

Index(['VendorNumber', 'VendorName', 'Brand', 'Description', 'Actual_price',
       'PurchasePrice', 'Volume', 'Total_purchaseQuantity',
       'Total_purchaseDollars', 'Totalsales_quantity', 'Totalsales_price',
       'Totalsales_Dollars', 'Total_Excisetax', 'Total_Freightcost',
       'GrossProfit', 'Profitmargin', 'StockTurnover', 'SalesPurchaseRatio'],
      dtype='object')

In [43]:
pd.read_sql_query("select * from vendor_sales_summary",conn)

Empty DataFrame
Columns: [VendorNumber, VendorName, Brand, Description, Actual_price, PurchasePrice, Volume, Total_purchaseQuantity, Total_purchaseDollars, Totalsales_quantity, Totalsales_price, Totalsales_Dollars, Total_Excisetax, Total_Freightcost, GrossProfit, Profitmargin, StockTurnover, SalesPurchaseRatio]
Index: []

In [44]:
vendor_sales_summary.to_sql('vendor_sales_summary',conn , if_exists='replace',index=False)

10692